SportsML-G2/2.2/specification/sportsml-mini.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema targetNamespace="http://iptc.org/std/SportsML/2008-04-01/"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:sportsml="http://iptc.org/std/SportsML/2008-04-01/"
	version="2.2">
	<annotation>
		<appinfo>SportsML</appinfo>
		<documentation>SportsML is a global XML standard for the interchange
			of sports data. Designed to be as easy to understand and implement as
			possible, SportsML allows for the exchange of sports scores,
			schedules, standings, and statistics for a wide variety of
			competitions. Its extensibility allows for the easy accommodation of
			many sports from around the globe. It cooperates with current IPTC
			standards NewsML and NITF to enable publishers to package sports
			statistics alongside edited coverage of sports.</documentation>
	</annotation>

	<!-- Core Schema -->
	<include schemaLocation="sportsml-core.xsd" />

	<!-- Extensions for Specific Sports -->
	<element name="placeholder-element">
		<annotation>
			<documentation>Not a true SportsML element | Just an empty
				placeholder to be used if Specific extension has no children.
			</documentation>
		</annotation>
	</element>


	<group name="eventMetadataSpecific">
		<choice>
		</choice>
	</group>
	<group name="eventStatsSpecific">
		<choice>
		</choice>
	</group>
	<group name="eventActionsSpecific">
		<choice>
		</choice>
	</group>
	<group name="teamMetadataSpecific">
		<choice>
		</choice>
	</group>
	<group name="teamStatsSpecific">
		<choice>
		</choice>
	</group>
	<group name="playerMetadataSpecific">
		<choice>
		</choice>
	</group>
	<group name="playerStatsSpecific">
		<choice>
		</choice>
	</group>
	<group name="associateMetadataSpecific">
		<choice>
		</choice>
	</group>
	<group name="associateStatsSpecific">
		<choice>
			<element ref="sportsml:placeholder-element" />
		</choice>
	</group>
	<group name="officialMetadataSpecific">
		<choice>
			<element ref="sportsml:placeholder-element" />
		</choice>
	</group>
	<group name="officialStatsSpecific">
		<choice>
			<element ref="sportsml:placeholder-element" />
		</choice>
	</group>
	<group name="groupMetadataSpecific">
		<choice>
			<element ref="sportsml:placeholder-element" />
		</choice>
	</group>
	<group name="groupStatsSpecific">
		<choice>
			<element ref="sportsml:placeholder-element" />
		</choice>
	</group>
	<group name="tournamentMetadataSpecific">
		<choice>
		</choice>
	</group>
	<group name="tournamentDivisionMetadataSpecific">
		<choice>
		</choice>
	</group>
	<group name="tournamentStageMetadataSpecific">
		<choice>
			<element ref="sportsml:placeholder-element" />
		</choice>
	</group>

	<simpleType name="genericType">
		<annotation />
		<restriction base="string">
			<pattern value="[^\s:]+:[^\s]+" />
		</restriction>
	</simpleType>

	<simpleType name="genericKeyType">
		<annotation />
		<restriction base="string">
			<pattern value="[^\s:]+:[^\s]+" />
		</restriction>
	</simpleType>

	<simpleType name="genericKeyListType">
		<annotation>
			<documentation>The type of space separated strings of QCodes.
			</documentation>
		</annotation>
		<list itemType="sportsml:genericKeyType" />
	</simpleType>

	<!-- Common vocabulary definitions -->

	<simpleType name="teamKey.Common">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.Common">
		<restriction base="string" />
	</simpleType>
	<simpleType name="dateTime.Common">
		<restriction base="string" />
	</simpleType>
	<simpleType name="duration.Common">
		<restriction base="string" />
	</simpleType>




	<!-- Vocabulary definitions for core schema -->

	<simpleType name="statsCoverage.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="teamCoverage.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="dateCoverageType.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="durationScope.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="competitionScope.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="alignmentScope.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="recordMakingScope.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="codeType.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="eventStyle.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="eventStatus.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="postponementStatus.Core">
		<restriction base="string" />
	</simpleType>

	<simpleType name="seasonType.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="weatherPrediction.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="phaseStatus.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="locationType.Core">
		<restriction base="string" />
	</simpleType>


	<simpleType name="status.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="health.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="phaseType.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="gender.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="participantCount.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="professionalStatus.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="specialGroup.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="specialNeeds.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="siteStyle.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="siteSurface.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreUnits.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="resultEffect.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="awardType.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="statusChangeType.Core">
		<restriction base="string" />
	</simpleType>
	<simpleType name="tournamentStageType.Core">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for american-football schema -->

	<simpleType name="scoreAttemptResult.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="driveResult.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreType.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreSubType.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltySide.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyLevel.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="timeoutType.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="role.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="result.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="kickType.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyType.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.AmericanFootball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="caller.AmericanFootball">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for baseball schema -->

	<simpleType name="pitchType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="strikeType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="ballLocation.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="playType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="walkType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="hitType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="hitByPitchType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="outType.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.Baseball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="participantRole.Baseball">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for basketball schema -->

	<simpleType name="scoreAttemptType.Basketball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreAttemptResult.Basketball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltySide.Basketball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyLevel.Basketball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.Basketball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="playType.Basketball">
		<restriction base="string" />
	</simpleType>
	<simpleType name="participantRole.Basketball">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for golf schema -->

	<simpleType name="holeType.Golf">
		<restriction base="string" />
	</simpleType>
	<simpleType name="shotType.Golf">
		<restriction base="string" />
	</simpleType>
	<simpleType name="landing.Golf">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for ice-hockey schema -->

	<simpleType name="scoreAttemptType.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreAttemptResult.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyLevel.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyName.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="zone.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="strength.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="playType.IceHockey">
		<restriction base="string" />
	</simpleType>
	<simpleType name="participantRole.IceHockey">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for soccer schema -->

	<simpleType name="scoreAttemptType.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreAttemptMethod.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreAttemptResult.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyType.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyLevel.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="foulResult.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="foulName.Soccer">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.Soccer">
		<restriction base="string" />
	</simpleType>


	<!-- Vocabulary definitions for tennis schema -->

	<simpleType name="winType.Tennis">
		<restriction base="string" />
	</simpleType>

	<!-- Vocabulary definitions for motor-racing schema -->

	<simpleType name="flagType.MotorRacing">
		<restriction base="string" />
	</simpleType>

	<!-- Vocabulary definitions for curling schema -->
	<simpleType name="throwOrder.Curling">
		<restriction base="string" />
	</simpleType>

	<!-- Vocabulary definitions for rugby schema -->
	<simpleType name="scoreAttemptType.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="scoreAttemptResult.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyType.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="penaltyLevel.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="foulResult.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="foulName.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="substitutionType.Rugby">
		<restriction base="string" />
	</simpleType>
	<simpleType name="position.Rugby">
		<restriction base="string" />
	</simpleType>
</schema>
